a {
    color: $text-link;
    &:visited {
        color:lighten($color: $text-link, $amount: 10);
    }
    &:hover {
        color: darken($color: $text-link, $amount: 10);
    }
    &:active {
        color: darken($color: $text-link, $amount: 20);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headings;
    font-weight: 400;
    color: $primary-dark;
    a {
        color: $primary-dark;
        &:visited {
        color:lighten($color: $text-link, $amount: 10);
        }
        &:hover {
            color: darken($color: $primary-dark, $amount: 10);
        }
        &:active {
            color: darken($color: $primary-dark, $amount: 10);
        }
    }
}

.tease, .post, .single-item {
    border: .25em solid $primary-dark;
    margin: .25em;
    padding: .75em;
    background-color: $bg-main;
}

.header, .footer {
    background-color: $secondary-light;
    border: .25em solid $secondary-dark;
}

.footer {
    margin: 0 .25em;
}

.nav-item {
    padding: 1em;
    border: .25em solid $primary-dark;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    background-color: $bg-main;
    .menu-link {
        color: $primary-dark;
    }
}
input {
    padding: 0 .5em;
    border: .25em solid $primary-dark;
    border-radius: 10px;
    background-color: $bg-main;
}

.slogan {
    text-align: center;
}

.current-item {
    color: $primary-dark;
}

.pagination-container {
    width: 100%;
    @media screen and (min-width: 840px) {
        width: 50%;
    }
}

.disabled {
    color: $primary-dark;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, $primary-light, $primary-dark, $primary-light);
    background-image: -moz-linear-gradient(left, $primary-light, $primary-dark, $primary-light);
    background-image: -ms-linear-gradient(left, $primary-light, $primary-dark, $primary-light);
    background-image: -o-linear-gradient(left, $primary-light, $primary-dark, $primary-light);
    background-image: linear-gradient(left, $primary-light, $primary-dark, $primary-light);
}

/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.screen-reader-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}