

body {
    background-color: $primary-light;
    font-family: $font-family-text;
}
.header {
    background-color: $primary-light;
}
.article-content h2 {
    font-size: 2em;
}

.article-content h3 {
    font-size: 2em;
}
.article-content h4, h5, h6 {
    font-size: 1.5em;
}



.content-wrapper {
    box-sizing: border-box;
    width: 100%;
    background-color: $primary-light;
    padding: .25em 1em;
}
.pagination-block {
    ul {
    display: inline;
    li {
        text-decoration:  none;
    }
    }
}

.header-image {
    height: auto; 
    width: auto; 
    max-width: 360px; 
    max-height: 176px;
}