h1, h2, h3, h4, h5, h6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-main {
    padding-top: 1em;
    display: grid;
    grid-gap: .1em;
    grid-template-columns: 1fr 1fr;
    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    column-fill: balance;
    grid-auto-rows: minmax(1.5em,auto);
}

.header, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: .1em;
    padding-right: .1em;
    padding-bottom: .5em;
    // @media screen and (min-width: 600px) and (max-width: 839px) {
    //     display: grid;
    //     grid-gap: 1em;
    //     grid-template-columns: 1fr 1fr;
    //     column-fill: balance;
    //     grid-auto-rows: minmax(1.5em,auto);
    //     grid-auto-columns: minmax(min-content,auto);
    //     padding: 1em 10%;
    // }
    @media screen and (min-width: 850px) {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr;
        column-fill: balance;
        grid-auto-rows: minmax(1.5em,auto);
        grid-auto-columns: minmax(min-content,auto);
        padding: 1em 10%;
    }
    @media screen and (min-width: 1500px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: .25em 10%;
    }
}
.footer {
    align-items: baseline;
}

.content-wrapper {
    display: grid;
    grid-gap: .1em;
    grid-template-columns: 1fr;
    @media screen and (min-width: 600px) and (max-width: 969px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 970px) and (max-width: 1399px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding: .25em 10%;
    }
    column-fill: balance;
    grid-auto-rows: minmax(4em,auto);
}


.pagination-container {
    margin-left: auto;
    margin-right: auto;
}

.pagination-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .pagination-item {
        text-align: center;
        padding: .5em;
        flex: auto;
    }
    
}

.single-item {
    @media screen and (max-width: 674px) {
        grid-column: 1/2;
    }
    @media screen and (min-width: 675px){
        grid-column: 1/3;
    }
    @media screen and (min-width: 1024px){
        grid-column: 2/5;
    }
}