a {
    color: $text-link;
    &:visited {
        color:lighten($color: $text-link, $amount: 10);
    }
    &:hover {
        color: darken($color: $text-link, $amount: 10);
    }
    &:active {
        color: darken($color: $text-link, $amount: 20);
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-headings;
    font-weight: 400;
    color: $primary-dark;
}

h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}