blockquote {
    border-left: .5em solid $secondary-dark;
    padding: .25em;
    padding-left: .5em;
    font-style: italic;
    background: $secondary-light;
    p {
        color: darken($color: $secondary-dark, $amount: 10);
    }
}

.content-wrapper {
    color: darken($color: $secondary-dark, $amount: 10);
}

.categories-header {
    padding-bottom: .25em;
}