{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}
<a name="top"/>
<body class="{{body_class}}" data-template="base.twig">
<img src="{{theme.custom_header}}">
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header">
    {% block header %}
        <h3 class="slogan" role="banner">
            {{ site.description }}
        </h3>
        <a class="logo-link" href="{{site.url}}" rel="home">
            <img src="{{theme.link}}/static/img/header-image.png" class="header-image" alt="Purple Shark Books logo: A shark swimming upwards from the bottom left corner to the left. The shark fills the right third of the image. In the bottom left is the text Purple Shark Books."/></a>
        <!-- #nav -->
        {% include "menu.twig" with {
            'menu' : menu.get_items
        } %}
    {% endblock %}
</header>
{% if title %}
    <h2>{{title}}</h2>
{% endif %}
<section id="content" role="main" class="content-wrapper">
    {% block content %}
        Sorry, no content
    {% endblock %}
</section>
<div class="pagination-container">
    {% include 'partial/pagination.twig' with {
        pagination : posts.pagination({show_all: false, mid_size: 3, end_size: 2})
    } %}
</div>
<a href="#top">{{ _e( 'Back to Top') }}</a>
{% block footer %}
    <footer class="footer">
        {% include 'sidebar.twig' %}
        {% include 'footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>