<section class="blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
    <header>
        <h5 class="comment-author">{{comment.author.name}}
            says</h5>
    </header>
    <section class="comment">
        <!-- child comments -->
        {% if post.comments %}
            <h4>
                Replies
            </h4>
            <div class="comments">
                {% for cmt in comment.children %}
                    {% include "comment.twig" with {
                        comment : cmt
                    } %}
                {% endfor %}
            </div>
        {% endif %}

        <!-- comment form -->
        {% include "comment-form.twig" %}
    </section>
</section>