<!doctype html>
<!--[if lt IE 7]><html class="no-js no-svg ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js no-svg ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js no-svg ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js no-svg" {{ site.language_attributes }}>
    <!--<![endif]-->
    <head>
        <meta charset="{{ site.charset }}"/>
        <meta name="description" content="{{ site.description }}">
        <link rel="stylesheet" href="{{ site.theme.link }}/static/normalize.css" type="text/css" media="screen"/>
        <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="author" href="{{ site.theme.link }}/humans.txt"/>
        <link rel="pingback" href="{{ site.pingback_url }}"/>
        <link rel="profile" href="http://gmpg.org/xfn/11">
        {{function('wp_head')}}