{% if menu %}
    <nav id="nav-main" class="nav-main" role="navigation">
        {% for item in menu %}
            <span class="nav-item">
                <a class="menu-link" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                {% include "menu.twig" with {
                    'menu' : item.get_children
                } %}
            </span>
        {% endfor %}
    </nav>
{% endif %}