{% extends "base.twig" %}

{% block content %}
    <article class="post-type-{{post.post_type}} single-item" id="post-{{post.ID}}">
        <header>
            <h1>{{post.title}}</h1>
        </header>
        {{post.content}}
    </article>
{% endblock %}