{% extends "base.twig" %}

{% block content %}
    <article class="post post-type-{{ post.post_type }} single-item" id="post-{{ post.ID }}">
        <img src="{{ post.thumbnail.src|resize(1200, 300) }}">
        <header class="article">
            <h1>{{ post.title }}</h1>
            <a href="{{ post.link }}">{{ _e('edit') }}</a>
            <p class="blog-author">
                <span>By</span>
                <a href="{{post.author.path}}">
                    {{ post.author.name }}
                </a>
                <span>&bull;</span>
                {{ post.date }}
            </p>
        </header>
        {{post.content}}
        <!-- comment box -->
        <aside class="comment-box">
            <!-- comments -->
            <div class="comments">
                {% if post.comments %}
                    <h3>
                        Comments
                    </h3>
                    {% for cmt in post.comments %}
                        {% include "comment.twig" with {
                            comment : cmt
                        } %}
                    {% endfor %}
                {% endif %}
            </div>

            {% if post.comment_status == "closed" %}
                <p>
                    Comments for this post are closed.
                </p>
            {% else %}
                <!-- comment form -->
                {% include "comment-form.twig" %}
            {% endif %}
        </aside>
    </article>
{% endblock %}