{% extends "tease.twig" %}

{% block content %}
    <span class="categories-header">
        {% for term in post.terms %}
            {% if term.taxonomy == 'category' %}
                <a href="{{term.taxonomy}}/{{term.slug}}">{{term}}</a>
            {% endif %}
        {% endfor %}
    </span>
    <hr>
    <h2>
        <a href="{{post.link}}">{{post.title}}</a>
    </h2>
    {% if post.thumbnail.src %}
        <p><img src="{{post.thumbnail.src |resize('thumbnail')}}" }}="}}" 1280w,="1280w," {{ post.thumbnail.src|resize(1900) }}></p>
    {% endif %}
    <p>{{post.preview.length(25)}}</p>
    <hr>
    <span class="tags-footer">
        {% for term in post.terms %}
            {% if term.taxonomy == 'post_tag' %}
                <a href="{{site.uri}}/tag/{{term.slug}}">{{term}}</a>
            {% endif %}
        {% endfor %}
    </span>
{% endblock %}