{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        {% if pagination.pages | first and pagination.pages | first.current != true %}
            <span class="first nav-item pagination-item">
                <a href="{{ pagination.pages|first.link }}">First</a>
            </span>
        {% else %}
            <span class="first disabled nav-item pagination-item">
                First
            </span>
        {% endif %}

        {% if pagination.prev %}
            <span class="prev nav-item pagination-item">
                <a href="{{ pagination.prev.link }}">Previous</a>
            </span>
        {% else %}
            <span class="prev disabled nav-item pagination-item">
                Previous
            </span>
        {% endif %}

        {% for page in pagination.pages %}
            {% if page.link %}
                <span class="nav-item pagination-item">
                    <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                </span>
            {% else %}
                <span class="current-item nav-item pagination-item">
                    <span class="{{ page.class }}">{{ page.title }}</span>
                </span>
            {% endif %}
        {% endfor %}

        {% if pagination.next %}
            <span class="next nav-item pagination-item">
                <a href="{{ pagination.next.link }}">
                    Next
                </a>
            </span>
        {% else %}
            <span class="next disabled nav-item pagination-item">
                Next
            </span>
        {% endif %}
        {% if pagination.pages | last and pagination.pages | last.current != true %}
            <span class="last nav-item pagination-item">
                <a href="{{ pagination.pages|last.link }}">
                    Last
                </a>
            </span>
        {% else %}
            <span class="last disabled nav-item pagination-item">
                Last
            </span>
        {% endif %}
    </nav>
{% endif %}